<!DOCTYPE html>
<head>
    <meta charset="UTF-8" name="viewport">


    <title>Realm-Plants</title>
    <link rel="stylesheet" href="../static/addplantstyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' > 
    <script th:inline="javascript">
        function homeClick(){
            console.log("premuto");
            window.location.href = '/admin/getplants';
            } 
    </script>


</head>
<body>
    <!-- Header -->
    <header> <!-- Nav -->
        <div class="nav container">
            <a href="" class="logo">Realm-Plants <i class='bx bx-leaf'></i></a> 
            <i class='bx bx-home' id="home-icon" onClick = homeClick()> </i>
        </div> 
    </header>

    <div class="file-container">
        <div class="file-upload-header">
            <h2>Aggiungi nuova pianta</h2>
        </div>
        <div class="file-upload">
            <h3>  </h3>
            <form id="fileUploadForm" method="POST" action="/admin/uploadplant" enctype="multipart/form-data">
                
                    <input type="text" name="name" placeholder="Inserire nome pianta" />
                    <input type="text" name="altezza" placeholder="Inserire altezza in cm"/>
                    <input type="text" name="prezzo" placeholder="Inserire il prezzo" />
                    <input type="file"  id="fileUploadInput" class="file-input"name="immagine" accept="image/*" />
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="submit-btn">Aggiungi</button> 
            </form>
        </div> 
    </div>   
</body>
</html>