<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylelanding.css">
    <link rel="stylesheet" href="../static/normalize.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' > 
    <title>Realm-Plants</title>
</head>
<body>
    <main class="content">
         <!-- Header -->
      <header>
        <!-- Nav -->
        <div class="nav container">
            <a href="" class="logo">Realm-Plants<i class='bx bx-leaf'></i></a>
            <a href="/login/register">
                <button class="accedi-btn"> Inizia subito! </button>
            </a>
        </div>
    </header>
        <div class="mission-container">
          <!--  <h2 class="title">Benvenuto!</h2> -->
            <h2 class="subtitle">Benvenuto</h2>
    
             <p class="goal">
                Prenotare le tue piante online è facile!
            </p>
        </div>

        <div class="cards">


            <div class="card cyan">
                <h3 class="feature">Step 1</h3>
                <p class="description">Accedi o registrati al sito</p>
                <img src="../static/assets/img/log-in.png" alt="accesi">
            </div>
            
         
            <div class="card green">
                <h3 class="feature">Step 2</h3>
                <p class="description">Scegli le tue piante e prenotale</p>
                <img src="../static/assets/img/sprout-tree-svgrepo-com.svg" alt="prenota">
            </div> 
                
  
             <div class="card blue">
                <h3 class="feature">Step 3</h3>
                <p class="description">Corri a ritirarle in negozio</p>
                <img src="../static/assets/img/shop.png" alt="ritira">
            </div> 
     
        </div>
    </main>
    
</body>
</html>