<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SignIn&SignUp</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css" />

  <!-- Box Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <!-- login.html -->
</head>
<body>
  <!-- Aggiungi questo script per mostrare un alert JavaScript -->
  <script th:if="${error}">
    window.onload = function() {
      alert("[[${error}]]");
      window.location.href = '/login/register';   
    };
  </script>

  <div class="container">
   
    <div class="forms-container">
      <div class="signin-signup">
        <form class="sign-in-form" th:action="@{/userLogin}" th:object="${user}" method="post">
          <h2 class="title">Sign In</h2>
        
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email"
            pattern="([A-Za-z0-9][._]?)+[A-Za-z0-9]@[A-Za-z0-9]+(\.?[A-Za-z0-9]){2}\.(com?|net|org)+(\.[A-Za-z0-9]{2,4})?" title="Inserisci un indirizzo email valido"
            oninvalid="setCustomValidity('Inserisci un indirizzo email valido')" oninput="setCustomValidity('')" required>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" th:field="*{password}" class="form-control" id="passwordlogin" placeholder="Password" required>
          </div>
          <input type="submit" value="Login" class="btn solid" style="background-color: #4CAF50" />
        </form>

        <form class="sign-up-form" th:action="@{/userRegister}" th:object="${user}" method="post" onsubmit="return validateRegister()">
          <h2 class="title">Sign Up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" pattern="[A-Za-z]+" title="Inserisci un nome valido (solo lettere)"
              oninvalid="setCustomValidity('Inserisci un nome valido (solo lettere)')" oninput="setCustomValidity('')"required>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Surname" pattern="[A-Za-z]+" title="Inserisci un cognome valido (solo lettere)"
              oninvalid="setCustomValidity('Inserisci un cognome valido (solo lettere)')" oninput="setCustomValidity('')"required>
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" th:field="*{email}" class="form-control" id="emailR" placeholder="Email"
            pattern="([A-Za-z0-9][._]?)+[A-Za-z0-9]@[A-Za-z0-9]+(\.?[A-Za-z0-9]){2}\.(com?|net|org)+(\.[A-Za-z0-9]{2,4})?" title="Inserisci un indirizzo email valido"
              oninvalid="setCustomValidity('Inserisci un indirizzo email valido')" oninput="setCustomValidity('')" required>
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input type="tel" th:field="*{phone}" class="form-control" id="phone" placeholder="Phone" pattern="[0-9]{10}"
              title="Inserisci un numero di telefono valido (es. 1234567890)"
              oninvalid="setCustomValidity('Inserisci un numero di telefono valido (es. 1234567890)')" oninput="setCustomValidity('')"required>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password"
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,24}$"
              title="La password deve contenere almeno un carattere maiuscolo, uno minuscolo, un numero e deve essere lunga da 6 a 24 caratteri."
              oninvalid="setCustomValidity('La password deve contenere almeno un carattere maiuscolo, uno minuscolo, un numero e deve essere lunga da 6 a 24 caratteri.')"
              oninput="setCustomValidity('')"required>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" th:field="*{cpassword}" class="form-control" id="cpassword" placeholder="Conferma password"required>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          </div>
        
          <input type="submit" value="Sign Up" class="btn solid" style="background-color: #4CAF50" />
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Nuovo utente?</h3>
          <p>Clicca qui per registrarti.</p>
          <button class="btn transparent" id="sign-up-btn">Sign Up</button>
        </div>
        <img src="../static/assets/img/image-PhotoRoom.png-PhotoRoom.png" class="image" alt="">
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Sei già registrato?</h3>
          <p>Clicca qui per accedere.</p>
          <button class="btn transparent" id="sign-in-btn">Sign In</button>
        </div>
        <img src="../static/assets/img/image-PhotoRoom.png-PhotoRoom-3.png" class="image" alt="">
      </div>
    </div>
  </div>

  <script>
    function validateRegister() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("cpassword").value;
  
      if (password !== confirmPassword) {
        alert("Le password non coincidono");
        return false;
      }else return true;

    }
  </script>

  <script src="../static/app.js"></script>
</body>
</html>